// Store all the color variables in this file
$primary-color: powderblue;

// Responsiveness Breakpoints
$tablet: 768;
$tablet-md: 1024;
$desktop-sm: 1200;
$desktop-md: 1400;
$desktop-lg: 1600;
$desktop-xl: 1920;
